p
{
    background-color: deeppink;
}

p,span
{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

body
{
    background-image: url(image1.jpg);
    background-size: cover;
    color: white;
}